@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.html {
  font-family: 'Poppins', sans-serif !important;
}
.hero-section {
  background-image: url('../assets/heroSectionImg.png');
  background-size: cover;
}
.last-section {
  background-image: url('../assets/lastSection.jpg');
  background-size: cover;
}

.transition-menu-burger {
  transition: max-height 1s ease-in-out;
}
/* Correction style édition d'articles */

.k-button,
.k-button-md,
.k-button-rectangle,
.k-button-solid,
.k-button-solid-base,
.k-rounded-md,
.k-icon-button,
.k-group-start {
  background-color: transparent !important;
  color: #fff !important;
}
.k-toolbar {
  background-color: #5d6ad2 !important;
}

/* Corrige le background blanc lors de l\'auto-complétion par google chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px #19191c inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.anim-sidebar-width {
  transition: width 1s;
}

/* ++++++++++++++++++++ SCROLL PERSONNALISATION ++++++++++++++++++++++ */
.scrollbar-darkMode::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #221d2c;
  border-radius: 10px;
}
.scrollbar-darkMode::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #19191c;
}

.scrollbar-darkMode::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #19191c;
}

.scrollbar-lightMode::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
  border-radius: 10px;
}
.scrollbar-lightMode::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #dddff2;
}

.scrollbar-lightMode::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dddff2;
}

.loaderBar {
  height: 5px;
  position: relative;
  border-radius: 10px;
  background-color: #5b69d2;
  animation: borealisBar 2s linear infinite;
  margin-bottom: 10px;
}

@keyframes borealisBar {
  0% {
    left: 0%;
    right: 100%;
    width: 0%;
  }
  10% {
    left: 0%;
    right: 75%;
    width: 25%;
  }
  90% {
    right: 0%;
    left: 75%;
    width: 25%;
  }
  100% {
    left: 100%;
    right: 0%;
    width: 0%;
  }
}
